<% content_for :header do %>
  <h1>Site Pages</h1>
<% end %>

<% if can? :create, Ishpage::Page %>
  <div class="clearfix">
    <p class="pull-right">
      <%= link_to 'New Page', new_page_path, :class => 'btn btn-primary ' %>
    </p>
  </div>
<% end %>


<table class="table table-striped">
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= link_to 'Show', page %></td>
        <% if can? :edit, page %>
          <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <% end %>
        <% if can? :destroy, page %>
          <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>