<% content_for :header do %>
	<h1><%= @page.title %></h1>
<% end %>

<div class="clearfix">
	<%= @page.content.html_safe %>
</div>


<% if can? :edit, @page %>
	<div class="clearfix">
		<p class="pull-right">
			<%= link_to 'Edit', edit_page_path(@page), :class => 'btn btn-warning' %>
		</p>
	</div>
<% end %>

