<!DOCTYPE html>
<html>
<head>
  <title>Ishpage</title>
  <%= stylesheet_link_tag    "ishpage/application", media: "all" %>
  <%= javascript_include_tag "ishpage/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
